body {
	margin: 0px;
	font-family: 'Droid Sans', sans-serif;
	color: #0f0f0f;

}

.nav {
	padding: 10px;
	height: 50px;
	background-color: #f3f3f3;
	border-bottom: 1px solid #c6c6c6;
	position: fixed;
	width: 100%;
	z-index: 10;
}

.nav .container {
	text-align: right;
	padding-right: 100px;
}

.nav li {
	display: inline;
	padding-left: 30px;
	padding-right: 30px;
}

.nav a {
	text-decoration: none;
	color: #0f0f0f;
	opacity: 0.6;
	font-weight: 400;
	font-size: 24px;
}

.nav a:hover {
	opacity: 1;
}

.jumbotron {
	top: 50px;
	position: relative;
	background: url(pictures/cover.jpg);
	background-size: contain;
	padding-top: 80px;
	padding-bottom: 80px;
	border-bottom: 1px solid #c6c6c6;
}

.jumbotron h1 {
	margin: 0px;
	padding-top: 60px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 10px;
	font-weight: 700;
	font-size: 72px;
}

.jumbotron p {
	padding-top: 10px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 60px;
	font-weight: 400;
	font-size: 24px;
}

.jumbotron .container {
	background-color: #f8f8f8;
	opacity: 0.7;
}

.my-work {
	border-bottom: 1px solid #c6c6c6;
	padding-top: 40px;
	padding-bottom: 60px;
	background-color: #f8f8f8;
}

.my-work h1 {
	font-weight: 700;
	font-size: 48px;
}

.my-work .title {
	padding-left: 100px;
}

.my-work .network {
	padding-left: 100px;
}

.my-work .fun-cover {
	padding-left: 100px;
}

.my-work .fun-cover img {
	max-width: 418px;
}

.contact {
	border-bottom: 1px solid #c6c6c6;
	padding: 20px;
}

.contact .contact-info {
	font-size: 12px;
	text-align: center;
}

.contact .contact-icons {
	text-align: center;
}

.contact .contact-icons img {
	padding-left: 5px;
	padding-right: 5px;
	opacity: 0.6;
}

.contact .contact-icons img:hover {
	opacity: 1;
}